<header>
	<div>
		<%= image_tag "logo.svg" %>
	</div>

	<h1>Welcome Back!</h1>
	<h3>Sign in to your RunJotter account below</h3>
</header>

<main>
	<section>
		<div>
			<%= render "identity/shared/continue_with_google" %>

			<h4>Or, sign in with your email address</h4>

			<%= form_with url: sign_in_path, data: { turbo: false } do |form| %>
				<%= form.invisible_captcha %>

				<%= form.time_zone_select :time_zone, priority_time_zones, { default: browser_time_zone.name }, { } %>

				<div>
					<div>
						<%= form.email_field :email, id: "sign_up_email_field", placeholder: "Email address", autofocus: true %>
						<%= form.label :email, "Email address" %>
					</div>

					<div>
						<%= form.password_field :password, id: "sign_up_password_field", placeholder: "Password" %>
						<%= form.label :email, "Password" %>
					</div>
				</div>

				<div>
					<%= form.submit "Sign in →", id: "sign_up_button" %>
				</div>
			<% end %>
		</div>
	</section>
</main>
