<nav class="marketing__nav">
	<%= link_to root_path, class: "marketing__nav-logo-link" do %>
		<div class="marketing__nav-logo-box">
			<%= image_tag "logo.svg", class: "marketing__nav-logo", alt: "Run Jotter Logo" %>
		</div>

		<span class="marketing__nav-logo-text">RunJotter</span>
	<% end %>

	<div class="marketing__nav-links">
		<%= link_to "Pricing", "#", class: "marketing__nav-link" %>

		<div data-controller="dropdown">
			<%= link_to "#", class: "marketing__nav-link", data: { dropdown_target: "button", action: "dropdown#toggle" } do %>
				Resources
				<%= image_tag "expand-more.svg", class: "marketing__nav-link-expand-icon", data: { dropdown_target: "arrow" } %>
			<% end %>

			<%= render "marketing/nav/resources_dropdown" %>
		</div>
	</div>

	<%= link_to "Try for Free", "#", class: "marketing__signup-button" %>
</nav>
