<h3 class="marketing__section-heading">Explore RunJotter In-Depth</h3>

<div class="marketing__articles">
	<div class="marketing__article">
		<%= link_to "#", class: "marketing__article-link" do %>
			<div class="marketing__article-image-box">
				<%= image_tag "placeholder_image_1.webp", class: "marketing__article-image", loading: "lazy" %>
			</div>

			<p class="marketing__article-title">Freehand AI: The next step forward for the Intelligent Canvas</p>
		<% end %>
	</div>

	<div class="marketing__article">
		<%= link_to "#", class: "marketing__article-link" do %>
			<div class="marketing__article-image-box">
				<%= image_tag "placeholder_image_2.webp", class: "marketing__article-image", loading: "lazy" %>
			</div>

			<p class="marketing__article-title">Introducting the Intelligent Canvas</p>
		<% end %>
	</div>

	<div class="marketing__article">
		<%= link_to "#", class: "marketing__article-link" do %>
			<div class="marketing__article-image-box">
				<%= image_tag "placeholder_image_3.webp", class: "marketing__article-image", loading: "lazy" %>
			</div>

			<p class="marketing__article-title">Sprint Planning in Freehand: Smart Workflows for better task management</p>
		<% end %>
	</div>
</div>
