<h3 class="marketing__section-heading">Sync Your Devices</h3>

<div class="marketing__connections">
	<% 2.times do %>
		<div class="marketing__connections-slide">
			<%= image_tag "garmin_logo.png", class: "marketing__connection-image", loading: "lazy" %>
			<%= image_tag "garmin_logo.png", class: "marketing__connection-image", loading: "lazy" %>
			<%= image_tag "garmin_logo.png", class: "marketing__connection-image", loading: "lazy" %>
			<%= image_tag "garmin_logo.png", class: "marketing__connection-image", loading: "lazy" %>
			<%= image_tag "garmin_logo.png", class: "marketing__connection-image", loading: "lazy" %>
			<%= image_tag "garmin_logo.png", class: "marketing__connection-image", loading: "lazy" %>
			<%= image_tag "garmin_logo.png", class: "marketing__connection-image", loading: "lazy" %>
			<%= image_tag "garmin_logo.png", class: "marketing__connection-image", loading: "lazy" %>
		</div>
	<% end %>
</div>
