<div class="marketing__footer-logo-box">
	<%= image_tag "logo.svg", class: "marketing__footer-logo" %>
</div>

<div class="marketing__footer-links-container">
	<h5 class="marketing__footer-links-label">Company</h5>
	<%= link_to "About Us", "#", class: "marketing__footer-link" %>
	<%= link_to "News", "#", class: "marketing__footer-link" %>
</div>

<div class="marketing__footer-links-container">
	<h5 class="marketing__footer-links-label">Compare</h5>
	<%= link_to "Mural", "#", class: "marketing__footer-link" %>
	<%= link_to "FigJam", "#", class: "marketing__footer-link" %>
	<%= link_to "Lucidspark", "#", class: "marketing__footer-link" %>
</div>

<div class="marketing__footer-links-container">
	<h5 class="marketing__footer-links-label">Resources</h5>
	<%= link_to "All Resources", "#", class: "marketing__footer-link" %>
	<%= link_to "Case studies", "#", class: "marketing__footer-link" %>
	<%= link_to "Blog", "#", class: "marketing__footer-link" %>
	<%= link_to "Events", "#", class: "marketing__footer-link" %>
</div>

<div class="marketing__footer-links-container">
	<h5 class="marketing__footer-links-label">Support</h5>
	<%= link_to "Get help", "#", class: "marketing__footer-link" %>
	<%= link_to "Product documentation", "#", class: "marketing__footer-link" %>
	<%= link_to "System status", "#", class: "marketing__footer-link" %>
	<%= link_to "Report abuse", "#", class: "marketing__footer-link" %>
</div>

<div class="marketing__footer-copyright">
	<span>© 2024 RunJotter LLC. All rights reserved.</span>
	<%= link_to "Terms of Service", "#", class: "marketing__footer-terms-link" %>
	<%= link_to "Privacy Policy", "#", class: "marketing__footer-terms-link" %>
	<%= link_to "Security", "#", class: "marketing__footer-terms-link" %>
</div>
