<h3 class="marketing__section-heading">Trusted by thousands of runners worldwide</h3>

<div class="marketing__testimonials-container">
	<div class="marketing__testimonial-box">
		<p class="marketing__testimonial">
			Having a digital space to brainstorm your ideas gives everyone a voice. Instead of one person leading the charge, using this brainstorming template gave everyone equal input.
		</p>
		<div class="marketing__testimonial-attribution">
			<div class="marketing__testimonial-avatar-box">
				<%= image_tag "avatar_placeholder_1.jpg", class: "marketing__testimonial-avatar" %>
			</div>

			<div>
				<div class="marketing__testimonial-person-name">Megan S</div>
				<div class="marketing__testimonial-person-title">Grand Rapids, MI</div>
			</div>
		</div>
	</div>

	<div class="marketing__testimonial-box">
		<p class="marketing__testimonial">
			Having a digital space to brainstorm your ideas gives everyone a voice. Instead of one person leading the charge, using this brainstorming template gave everyone equal input.
		</p>
		<div class="marketing__testimonial-attribution">
			<div class="marketing__testimonial-avatar-box">
				<%= image_tag "avatar_placeholder_1.jpg", class: "marketing__testimonial-avatar" %>
			</div>

			<div>
				<div class="marketing__testimonial-person-name">Megan S</div>
				<div class="marketing__testimonial-person-title">Grand Rapids, MI</div>
			</div>
		</div>
	</div>

	<div class="marketing__testimonial-box">
		<p class="marketing__testimonial">
			Having a digital space to brainstorm your ideas gives everyone a voice. Instead of one person leading the charge, using this brainstorming template gave everyone equal input.
		</p>
		<div class="marketing__testimonial-attribution">
			<div class="marketing__testimonial-avatar-box">
				<%= image_tag "avatar_placeholder_1.jpg", class: "marketing__testimonial-avatar" %>
			</div>

			<div>
				<div class="marketing__testimonial-person-name">Megan S</div>
				<div class="marketing__testimonial-person-title">Grand Rapids, MI</div>
			</div>
		</div>
	</div>

	<div class="marketing__testimonial-box">
		<p class="marketing__testimonial">
			Having a digital space to brainstorm your ideas gives everyone a voice. Instead of one person leading the charge, using this brainstorming template gave everyone equal input.
		</p>
		<div class="marketing__testimonial-attribution">
			<div class="marketing__testimonial-avatar-box">
				<%= image_tag "avatar_placeholder_1.jpg", class: "marketing__testimonial-avatar" %>
			</div>

			<div>
				<div class="marketing__testimonial-person-name">Megan S</div>
				<div class="marketing__testimonial-person-title">Grand Rapids, MI</div>
			</div>
		</div>
	</div>

	<div class="marketing__testimonial-box">
		<p class="marketing__testimonial">
			Having a digital space to brainstorm your ideas gives everyone a voice. Instead of one person leading the charge, using this brainstorming template gave everyone equal input.
		</p>
		<div class="marketing__testimonial-attribution">
			<div class="marketing__testimonial-avatar-box">
				<%= image_tag "avatar_placeholder_1.jpg", class: "marketing__testimonial-avatar" %>
			</div>

			<div>
				<div class="marketing__testimonial-person-name">Megan S</div>
				<div class="marketing__testimonial-person-title">Grand Rapids, MI</div>
			</div>
		</div>
	</div>

	<div class="marketing__testimonial-box">
		<p class="marketing__testimonial">
			Having a digital space to brainstorm your ideas gives everyone a voice. Instead of one person leading the charge, using this brainstorming template gave everyone equal input.
		</p>
		<div class="marketing__testimonial-attribution">
			<div class="marketing__testimonial-avatar-box">
				<%= image_tag "avatar_placeholder_1.jpg", class: "marketing__testimonial-avatar" %>
			</div>

			<div>
				<div class="marketing__testimonial-person-name">Megan S</div>
				<div class="marketing__testimonial-person-title">Grand Rapids, MI</div>
			</div>
		</div>
	</div>
</div>
