<header class="identity__header">
	<div class="identity__header-logo-box">
		<%= image_tag "logo.svg", class: "identity__header-logo" %>
	</div>

	<h1 class="identity__heading">Try RunJotter</h1>
	<h3 class="identity__subheading">Free for 30 days • No credit card required • Cancel anytime</h3>
</header>

<main>
	<section class="identity__section identity__section--form">
		<div class="identity__form-container">
			<%= render "identity/shared/continue_with_google" %>

			<h4 class="identity__form-heading">Or, sign up with your email address</h4>

			<div class="identity__flash">
				<% if @user.errors.any? %>
					<% @user.errors.full_messages.each do |message| %>
						<div><%= message %></div>
					<% end %>
				<% end %>
			</div>

			<%= form_with model: @user, url: sign_up_path, data: { turbo: false } do |form| %>
				<%= form.invisible_captcha %>

				<%= form.time_zone_select :time_zone, priority_time_zones, { default: browser_time_zone.name }, { class: "hidden" } %>

				<div class="identity__field-set">
					<div class="identity__field-container">
						<%= form.email_field :email, id: "sign_up_email_field", class: "identity__field", placeholder: "Your email address", autofocus: true %>
						<%= form.label :email, "Your email address", class: "identity__field-label" %>
					</div>

					<div class="identity__field-container">
						<%= form.password_field :password, id: "sign_up_password_field", class: "identity__field", placeholder: "Choose a password" %>
						<%= form.label :email, "Choose a password", class: "identity__field-label" %>
					</div>
				</div>

				<div>
					<%= form.submit "Start jotting →", id: "sign_up_button", class: "identity__submit-button" %>
				</div>
			<% end %>
		</div>
	</section>
</main>
