<% if day.strftime("%a") == "Mon" && day.strftime("%e").strip != "1" %>
  <div class="weekly-calendar__month-label">
    <span><%= day.strftime("%B") %></span>
    <span class="weekly-calendar__year"><%= day.strftime("%y") %></span>
  </div>
<% elsif day.strftime("%e").strip == "1" %>
  <div class="weekly-calendar__month-label weekly-calendar__month-label--changed">
    <span><%= day.strftime("%B") %></span>
    <span class="weekly-calendar__year"><%= day.strftime("%y") %></span>
  </div>
<% end %>

<div class="weekly-calendar__day-label">
  <span class="weekly-calendar__day-of-week"><%= day.strftime("%a") %></span>
  <span class="weekly-calendar__day-of-month"><%= day.strftime("%e") %></span>
</div>

<div class="weekly-calendar__activities">
  <% activities.each do |activity| %>
    <div class="weekly-calendar__activity">
      <div class="weekly-calendar__activity-name"><%= activity.title %></div>
    </div>
  <% end %>

  <div data-controller="popup"
       data-popup-placement-value="left"
       data-popup-strategy-value="fixed"
       data-popup-prevent-default-value="false"
       class="weekly-calendar__add-activity-button">

    <%= link_to new_activity_path(selected_day: day), data: { turbo_stream: true, action: "popup#open", popup_target: "button" } do %>
      <span></span>
    <% end %>

    <div class="popup-backdrop hidden" data-popup-target="backdrop" data-action="click->popup#close"></div>

    <div class="popup-content hidden" data-popup-target="popupContainer">
      <%= turbo_frame_tag "activity_form_for_#{day}" %>
    </div>
  </div>
</div>
