<header class="marketing__header">
	<%= render "marketing/index/header" %>
</header>

<main class="marketing__main">
	<section class="marketing__section marketing__section--demos">
		<div class="marketing__section-content">
			<%= render "marketing/index/demos_section" %>
		</div>
	</section>

	<section class="marketing__section marketing__section--articles">
		<div class="marketing__section-content">
			<%= render "marketing/index/articles_section" %>
		</div>
	</section>

	<section class="marketing__section marketing__section--connections">
		<div class="marketing__section-content">
			<%= render "marketing/index/connections_section" %>
		</div>
	</section>

	<section class="marketing__section marketing__section--testimonials">
		<div class="marketing__section-content">
			<%= render "marketing/index/testimonials_section" %>
		</div>
	</section>

	<section class="marketing__section marketing__section--outro">
		<div class="marketing__section-content">
			<%= render "marketing/index/outro_section" %>
		</div>
	</section>
</main>

<footer class="marketing__footer">
	<div class="marketing__footer-content">
		<%= render "marketing/index/footer" %>
	</div>
</footer>
